* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rows {
  padding: 20px 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: yellowgreen;
}

.row {
  margin-bottom: 10px;
  display: flex;
  background-color: #fff;
  border: 1px solid #000;
}

.items {
  width: 100%;
  display: flex;
}

h2 {
  padding: 5px;
}

.item {
  margin: 5px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
}

.item_white {
  background-color: #fff;
}

.item_grey {
  background-color: grey;
}
